.body {
    width: 330px;
    position: absolute;
    top: 2%;
    left: 50%;
    margin: 0 0 0 -150px;
}

.navigation {
    text-align: center;
    padding-bottom: 10px;
}

.nav-link {
    margin: 10px 20px;
}

.item {
    margin: 2px;
}

.button {
    margin-top: 10px;
}

.message {
    color: red;
}


.hidden {
    display: none;
}

.loading {
    width: 120px;
}
